ha-mqtt-discoverable==0.25.2
requests==2.34.2
gridx-connector==3.1.0
opentelemetry-instrumentation-requests==0.65b0
pydantic==2.13.5
ruff==0.16.9
logfire==5.1.1
configparser==7.2.0
coverage==7.16.2
pytest==9.1.1
pytest-cov==7.1.0
bump-my-version==1.5.1
