ha-mqtt-discoverable==0.18.0
requests==2.32.3
viessmann-gridbox-connector==1.7.2
opentelemetry-instrumentation-requests==0.52b0
pydantic==2.11.1
ruff==0.11.2
logfire==3.11.0
configparser==7.2.0
coverage==7.7.1
bump-my-version==1.1.1
