ha-mqtt-discoverable==0.19.1
requests==2.32.5
viessmann-gridbox-connector==1.7.3
opentelemetry-instrumentation-requests==0.58b0
pydantic==2.*
ruff==0.13.0
logfire==4.8.0
configparser==7.2.0
coverage==7.10.6
bump-my-version==1.2.2
