ha-mqtt-discoverable==0.19.1
requests==2.32.4
viessmann-gridbox-connector==1.7.2
opentelemetry-instrumentation-requests==0.55b1
pydantic==2.*
ruff==0.12.2
logfire==3.22.0
configparser==7.2.0
coverage==7.9.2
bump-my-version==1.2.0
