# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Viessmann Gridbox Connector (dev)
version: "2.11.68"
slug: "gridbox_connector_dev"
description: Development version of Viessmann Gridbox Connector
url: "https://github.com/unl0ck/homeassistant-addon-viessmann-gridbox/tree/main/GridboxConnectorAddon-dev"
arch:
  - aarch64
  - amd64
init: false
codenotary: notary@home-assistant.io
map:
  - share:rw
discovery:
  - "mqtt"
services:
  - "mqtt:need"
options:
  username: "email"
  password: "password"
  wait_time: 60
  log_level: INFO
  enable_telemetry: False

schema:
  username: str
  password: password
  wait_time: int
  OverrideMqttUser: str?
  OverrideMqttPw: password?
  OverrideMqttServer: str?
  OverrideMqttPort: int?
  log_level: list(TRACE|DEBUG|INFO|WARNING|ERROR)
  enable_telemetry: bool
image: ghcr.io/unl0ck/homeassistant-addon-viessmann-gridbox-dev-{arch}
stage: experimental
