# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: Viessmann Gridbox Connector
version: "3.1.5"
slug: "gridbox_connector"
description: Fetch your live data from your Viessmann Gridbox
url: "https://github.com/unl0ck/homeassistant-addon-viessmann-gridbox/tree/main/GridboxConnectorAddon"
arch:
  - aarch64
  - amd64
init: false
map:
  - share:rw
discovery:
  - "mqtt"
services:
  - "mqtt:need"
options:
  username: "email"
  password: "password"
  wait_time: 60
  log_level: INFO
  enable_telemetry: False
  log_level_telemetry: WARNING

schema:
  username: str
  password: password
  wait_time: int
  OverrideMqttUser: str?
  OverrideMqttPw: password?
  OverrideMqttServer: str?
  OverrideMqttPort: int?
  log_level: list(DEBUG|INFO|WARNING|ERROR)
  enable_telemetry: bool
  log_level_telemetry: list(DEBUG|INFO|WARNING|ERROR)
  OverrideLogfireToken: str?
image: ghcr.io/unl0ck/homeassistant-addon-viessmann-gridbox-{arch}
