name: Push Docker Image for Standalone
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: ./GridboxConnectorAddon-edge/Dockerfile.standalone
          push: true
          tags: ghcr.io/${{ github.repository }}/standalone-viessman-gridbox-connector:latest
          platforms: linux/amd64,linux/arm64
